:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*--palette-1: #500085;*/
  /*--palette-2: #1B263B;*/
  /*--palette-3: #415A77;*/
  /*--palette-4: #778DA9;*/
  /*--palette-5: #E0E1DD;*/

  /*--light-backgroud: #fffffe;*/
  /*--light-title-color: #181818;*/
  /*--light-paragarph-color: #2e2e2e;*/
  /*--light-link-color: #50c4cf;*/
  /*--light-card-background: #ddd6d6;*/

  /*--highlight-color: #fbdd74;*/



}

:root[data-mantine-color-scheme="light"] {
  /*--mantine-color-body: var(--palette-4);*/
  /*--app-shell-border-color: var(--palette-3);*/
  /*--input-color: #fff;*/

  /*background-color: var(--mantine-color-body)*/

  /*--mantine-color-body: #433343;*/


}

:root[data-mantine-color-scheme="dark"] {
  /*--mantine-color-body: #433343;*/

  /*!*!* border color *!*!*/
  /*--mantine-color-dark-4: var(--mantine-color-slate-8);*/
  /*--app-shell-border-color: var(--palette-2);*/
  /*!*!* text color *!*!*/
  /*--mantine-color-text: var(--mantine-color-slate-1);*/
  /*--mantine-text-color: var(--mantine-color-slate-1);*/
  /*!*!* input background *!*!*/
  /*--mantine-color-dark-6: var(--mantine-color-slate-8);*/
  /*--input-bg: var(--palette-1);*/


  /*--dark-backgroud: #181818;*/
  /*--dark-title-color: #fffffe;*/
  /*--dark-paragarph-color: #ddd6d6;*/
  /*--dark-link-color: #50c4cf;*/
  /*--dark-secondary-background: #2e2e2e;*/

  /*--mantine-color-body: #2f4757;*/

  /*!* border color *!*/
  /*--mantine-color-dark-4: var(--dark-secondary-background);*/
  /*--app-shell-border-color: var(--dark-secondary-background);*/
  /*!* text color *!*/
  /*--mantine-color-text: #c8ba96;*/
  /*--mantine-text-color: var(--dark-title-color);*/
  /*!* input background *!*/
  /*--mantine-color-dark-6: var(--palette-1);*/
  /*--input-bg: var(--palette-1);*/
  /*!* input text color *!*/
  /*  --input-color: red;*/

}

body {
  /*margin: 0;*/
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 98vh;
}

